<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cp.crawler.NewsMapper">
    <select id="selectOne" resultType="org.cp.crawler.model.News">
        select *
        from News
        where id = #{id}
    </select>

    <insert id="insertOne" parameterType="org.cp.crawler.model.News" useGeneratedKeys="true" keyProperty="id">
        insert into News (id, title, content, url, create_time, update_time)
        values (null, #{title}, #{content}, #{url}, now(), now())
    </insert>
</mapper>